* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: 'Inconsolata', monospace;
    
}

#navbar {
   background-color: purple;
   position: fixed;
   width: 100%;
   z-index: 999;
}

#navbar ul {
    list-style-type: none;
    text-align: right;
}

#navbar li {
    display: inline-block;
    
}

#navbar li:hover {
    background-color:black;
}

#navbar a {
    display: block;
    width: 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    text-decoration: none;
    color: white;
}

#welcome-section {
    background: linear-gradient(135deg, black 33%, white 33% 66%, black 66%);
    height: 100vh;
    text-align: center;
    padding-left: 10px;
    padding-top: 250px;
}

.inline {
    color: purple;
}
 
.title {
    background-color: black;
    text-align: center;
    color: white;
    padding-top: 70px;
    padding-bottom: 50px;
    height: 20vh;
    
}

#projects {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: black;
    height: 80vh;
}

.project-tile {
    height: 360px;
    width:300px;
    background-color: purple;
    position: relative;
    display: flex;
    align-items: center;
    animation-duration: 1s;
    animation-iteration-count: 1;
}

.project-tile a {
    text-align: center;
}
.bounce:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}
@keyframes bounce {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-30px); }
  100% { transform: translateY(0); }
}

.project-tile .project-name {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: white;
    text-align:center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.project-img {
    width: 30%;
    height: auto;
}

#container-contact {
    background-color: black;
    height: 70vh;
}
#contact {
    padding-top: 20px;
    background-color: black;
    display:flex;
    text-align: center;
    flex-direction: column;
    width: 60%;
    margin: auto;
}

#description {
    color: white;
}

#form {
    margin: 20px;
}

input {
    width: 80%;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom:10px;
    padding-left: 10px;
    outline: none;
}

textarea {
    width: 80%;
    height: 150px;
    font-family: inherit;
    padding-left: 10px;
    padding-top: 10px;
    outline: none;
}

#links {
    height: 10vh;
    background-color: black;
}

#links ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#links ul li {
    color: white;
    display:inline-block;
    width: 100px;
}

#links ul li a {
    text-decoration: none;
    color: white;
}


